@font-face {
    font-family: 'Ancient_Modern_Tales';
    src: url('../fontes_de_texto/ancient-modern-tales-font/AncientModernTales-a7Po.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Ancient_Modern_Tales';
}

body{
    background-color: rgb(94, 35, 35);
    
}

.container{
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    max-width: 1024px;
    max-height: 720px;
    margin: auto;
}

.titulo{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}

.fichas{
    display: block;
}

.ficha_personagem{
    background-color: white;
    display: inline-block;
    margin: auto;
    margin-top: 50px;
    margin-left: 20px;
}

.classe{
    text-align: center;
    font-size: 36px;
    padding: 5px;
}

.classe_imagem{
    text-align: center;
    margin-bottom: 100px;
}

.status{
    display: flex;
    font-size: 20px;
    padding: 5px;
}

.classe_atributos1{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.classe_atributos2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.botao_iniciar{
    margin-top: 40px;
    padding: 10px;
    border: 8px solid white;
    border-radius: 16px;
    font-size: 48px;
    color: white;
}

.botao_voltar{
    padding: 10px;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 300;
    border: 8px solid white;
    border-radius: 16px;
    font-size: 32px;
    color: white;
}